.popup-wrapper
	padding-bottom: 0
	overflow: hidden
	height: 100%
.popup
	position: absolute
	background: rgba(34, 35, 40, 0.6)
	width: 100%
	min-height: 100%
	top: 0
	left: 0
	z-index: 9999
	overflow: hidden
	display: none
	min-width: 320px
	padding: 0 10px
	box-sizing: border-box
.popup-content
	width: 970px
	box-shadow: 0 29px 40px rgba(0, 0, 0, 0.62)
	border-radius: 10px
	background-color: $white
	margin: 10% auto
	padding: 20px
	position: relative
	box-sizing: border-box
	@media screen and (max-width: 990px)
		width: 100%
		height: auto
.popup-content-left
	text-align: center
	display: inline-block
	width: 460px
	vertical-align: top
	@media screen and (max-width: 990px)
		display: block
		width: 100%
    	margin-top: 20px
.popup-content-left__img
	width: 457px
	& img
		width: 100%
	@media screen and (max-width: 990px)
		width: 100%
.popup-content-left-prews
	@media screen and (max-width: 990px)
		margin-top: -100px
		margin-bottom: 38px
.popup-content-right .popup-content-right__title 
	@media screen and (max-width: 990px)
		display: none
.popup-content-left-prev
	display: inline-block
	width: 60px
	font-size: 0
	overflow: hidden
	margin: 10px 5px 0
	& img
		width: 100%
	& .active
		border: 2px solid #00adee
		display: inline-block
.popup-content-right
	display: inline-block
	vertical-align: top
	margin-left: 25px
	@media screen and (max-width: 990px)
		text-align: center
		width: 100%
		margin: 0
.popup-content-right__title h3
	font-size: 28px
	color: $dark
.mobile_title
	display: none
	margin-bottom: 14px
	@media screen and (max-width: 990px)
		display: block
.popup-content-right__price
	color: #139ce9
	font-size: 30px
	font-weight: 700
	padding-top: 10px
	padding-bottom: 20px
	@media screen and (max-width: 990px)
		display: inline-block
		vertical-align: middle
		float: left
		clear: both
.popup-content-right-counter
	@media screen and (max-width: 990px)
		float: right
		margin-top: 6px
.popup-content-right-counter .counter__title
	@media screen and (max-width: 990px)
		display: none
.popup-content-right__content
	width: 440px
	line-height: 32px
	font-size: 18px
	padding-top: 18px
	@media screen and (max-width: 990px)
		font-size: 14px
		line-height: 24px
		padding-top: 0
		text-align: left
		clear: both
		margin-bottom: 10px
		width: 100%
.popup-btn
	position: absolute
	bottom: 26px
	right: 20px
.popup-content-right__close
	position: absolute
	width: 10px
	height: 10px
	right: 24px
	top: 19px
	& a
		color: #cecece
	@media screen and (max-width: 990px)
		top: 28px
.popup-nav-element
	position: absolute
	top: 200px
	width: 60px
	height: 60px
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5)
	background-color: #00adee
	border-radius: 50%
	text-align: center
	line-height: 60px
	color: $white
	@media screen and (max-width: 990px)
		top: 28%
.popup-nav__prev
	left: -72px
	@media screen and (max-width: 1123px)
		left: 0
.popup-nav__next
	right: -72px
	@media screen and (max-width: 1123px)	
		right: 0
.popup-arrows
	&:before
		content: ''
		width: 10px
		height: 14px
		position: absolute
		top: 23px
		left: 26px
.popup__prev
	&:before
		content: ''
		background: $white
		-webkit-mask-image: url('../img/arrow-left.svg')
		-o-mask-image: url('../img/arrow-left.svg')
		-moz-mask-image: url('../img/arrow-left.svg')
		mask-image: url('../img/arrow-left.svg')

.popup__next
	&:before
		content: ''
		background: $white
		-webkit-mask-image: url('../img/arrow-right.svg')
		-o-mask-image: url('../img/arrow-right.svg')
		-moz-mask-image: url('../img/arrow-right.svg')
		mask-image: url('../img/arrow-right.svg')
.popup.active
	display: block