.btn
	display: inline-block
	color: $white
	padding: 14px 0
	text-align: center
	width: 220px
	border-radius: 5px
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3)
.blue
	background: $secondary-color
.yellow
	background-color: $orange
	box-shadow: 0 8px 12px rgba(245, 166, 35, 0.5)
.btn-empty
	color: $secondary-color
	border: 1px solid $secondary-color
	padding: 13px 0
	font-weight: 700
	box-shadow: none
	@media screen and (max-width: 767px)
		width: auto
		padding: 13px 8px
	@media screen and (max-width: 378px)
		margin-bottom: 10px
.btn-opacity-1
	background: rgba(256, 256, 256, .1)
.btn-opacity-2
	background: rgba(256, 256, 256, .2)
.btn-opacity-3
	background: rgba(256, 256, 256, .3)
.btn-opacity-4
	background: rgba(256, 256, 256, .4)
.btn-opacity-5
	background: rgba(256, 256, 256, .5)
.btn-opacity-6
	background: rgba(256, 256, 256, .6)
.btn-opacity-7
	background: rgba(256, 256, 256, .7)
.btn-opacity-8
	background: rgba(256, 256, 256, .8)
.btn-opacity-9
	background: rgba(256, 256, 256, .9)