.color-picker
	display: inline-block
	& span
		width: 30px
		height: 30px
		border-radius: 50%
		display: inline-block
		margin-right: 9px
		vertical-align: middle
		position: relative
		cursor: pointer
		@media screen and (max-width: 768px)
			width: 14px
			height: 14px
		&:last-child
			margin: 0
	& .active
		width: 40px
		height: 40px
		@media screen and (max-width: 768px)
			width: 14px
			height: 14px
			border: 1px solid
			box-shadow: inset 0px 0px 0px 1px $white
		&:before
			content: ''
			width: 14px
			height: 11px
			background: url('../img/active.svg') center no-repeat
			position: absolute
			top: 15px
			left: 13px
			@media screen and (max-width: 768px)
				content: ''
				background: none
.color_orange
	background: $orange
	border-color: $orange !important
.color_violet
	background: #9012fe
	border-color: #9012fe !important
.color_yellow
	background: #f8e81c
	border-color: #f8e81c !important
.color_black
	background: #4a4a4a
	border-color: #4a4a4a !important
.color_blue
	background: #4990e2
	border-color: #4990e2 !important
.color_turquoise
	background: #50e3c2
	border-color: #50e3c2 !important
.color_pink
	background: #ec0e72
	border-color: #ec0e72 !important
.color_green
	background: #7ed321
	border-color: #7ed321 !important