.counter
	width: 108px
	height: 42px
	border-radius: 5px
	border: 2px solid #eff0f4
	text-align: center
	& span
		font-weight: 700
		font-size: 20px
		color: $dark-blue
		padding: 0 14px
		display: inline-block
		line-height: 42px
		vertical-align: top
		cursor: pointer
		text-align: center
	& input
		width: 28px
		text-align: center
		color: $dark-blue
		font-size: 14px
		font-weight: 700
		height: 42px
		display: inline-block
		vertical-align: top
		box-sizing: border-box
		border: none
		outline: none
		background: transparent
.count-minus
	line-height: 40px
.counter__title
	opacity: 0.5
	color: $dark-blue
	font-size: 12px
	font-weight: 700
	text-transform: uppercase
	padding-bottom: 4px