.field
	border: 1px solid rgba(34, 35, 40, 0.2)
	width: 100%
	height: 44px
	outline: none
	border-radius: 5px
	text-indent: 20px
	font-size: 16px
	&:focus
		box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3), 0 4px 12px rgba(0, 0, 0, 0.2)
		border: none
.ordering-window-content-field
	display: inline-block
	vertical-align: top
	margin-right: 15px
	@media screen and (max-width: 767px)
		margin-bottom: 10px
.ordering-window-content-field-5
	width: 446px
	@media screen and (max-width: 1200px)
		width: 395px
	@media screen and (min-width: 768px) and (max-width: 990px)
		width: 270px
	@media screen and (max-width: 767px)
		width: 100%
.ordering-window-content-field-4
	width: 284px
	@media screen and (max-width: 1200px)
		width: 256px
	@media screen and (min-width: 768px) and (max-width: 990px)
		width: 200px
	@media screen and (max-width: 767px)
		width: 100%
		display: block
.ordering-window-content-field-3
	width: 240px
	@media screen and (min-width: 768px) and (max-width: 990px)
		width: 219px
	@media screen and (max-width: 767px)
		width: 100% !important
		display: block
.ordering-window-content-field-1
	width: 80px