.info
	width: 24px
	height: 24px
	background: rgba($white, .3)
	text-align: center
	line-height: 24px
	display: inline-block
	border-radius: 50%
	margin-left: 20px
	color: $white
	@media screen and (max-width: 378px)
		display: block
		margin: auto
		margin-top: 10px		
.info.active
	background: #00adee