.enjoy-radio
	display: none
	position: relative
	&~label
		font-weight: 900
		position: relative
		padding-left: 40px
		&:before
			content: ''
			position: absolute
			width: 21px
			height: 21px
			border: 1px solid rgba(34, 35, 40, 0.2)
			border-radius: 50%
			left: 0
			top: 0
	&:checked~label:before
		content: ''
		background: $secondary-color
		border: none