@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic-ext");
.btn {
  display: inline-block;
  color: #fff;
  padding: 14px 0;
  text-align: center;
  width: 220px;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.blue {
  background: #00adee;
}

.yellow {
  background-color: #f6a623;
  box-shadow: 0 8px 12px rgba(245, 166, 35, 0.5);
}

.btn-empty {
  color: #00adee;
  border: 1px solid #00adee;
  padding: 13px 0;
  font-weight: 700;
  box-shadow: none;
}

@media screen and (max-width: 767px) {
  .btn-empty {
    width: auto;
    padding: 13px 8px;
  }
}

@media screen and (max-width: 378px) {
  .btn-empty {
    margin-bottom: 10px;
  }
}

.btn-opacity-1 {
  background: rgba(255, 255, 255, 0.1);
}

.btn-opacity-2 {
  background: rgba(255, 255, 255, 0.2);
}

.btn-opacity-3 {
  background: rgba(255, 255, 255, 0.3);
}

.btn-opacity-4 {
  background: rgba(255, 255, 255, 0.4);
}

.btn-opacity-5 {
  background: rgba(255, 255, 255, 0.5);
}

.btn-opacity-6 {
  background: rgba(255, 255, 255, 0.6);
}

.btn-opacity-7 {
  background: rgba(255, 255, 255, 0.7);
}

.btn-opacity-8 {
  background: rgba(255, 255, 255, 0.8);
}

.btn-opacity-9 {
  background: rgba(255, 255, 255, 0.9);
}

.color-picker {
  display: inline-block;
}

.color-picker span {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 9px;
  vertical-align: middle;
  position: relative;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .color-picker span {
    width: 14px;
    height: 14px;
  }
}

.color-picker span:last-child {
  margin: 0;
}

.color-picker .active {
  width: 40px;
  height: 40px;
}

@media screen and (max-width: 768px) {
  .color-picker .active {
    width: 14px;
    height: 14px;
    border: 1px solid;
    box-shadow: inset 0px 0px 0px 1px #fff;
  }
}

.color-picker .active:before {
  content: '';
  width: 14px;
  height: 11px;
  background: url("../img/active.svg") center no-repeat;
  position: absolute;
  top: 15px;
  left: 13px;
}

@media screen and (max-width: 768px) {
  .color-picker .active:before {
    content: '';
    background: none;
  }
}

.color_orange {
  background: #f6a623;
  border-color: #f6a623 !important;
}

.color_violet {
  background: #9012fe;
  border-color: #9012fe !important;
}

.color_yellow {
  background: #f8e81c;
  border-color: #f8e81c !important;
}

.color_black {
  background: #4a4a4a;
  border-color: #4a4a4a !important;
}

.color_blue {
  background: #4990e2;
  border-color: #4990e2 !important;
}

.color_turquoise {
  background: #50e3c2;
  border-color: #50e3c2 !important;
}

.color_pink {
  background: #ec0e72;
  border-color: #ec0e72 !important;
}

.color_green {
  background: #7ed321;
  border-color: #7ed321 !important;
}

.counter {
  width: 108px;
  height: 42px;
  border-radius: 5px;
  border: 2px solid #eff0f4;
  text-align: center;
}

.counter span {
  font-weight: 700;
  font-size: 20px;
  color: #222328;
  padding: 0 14px;
  display: inline-block;
  line-height: 42px;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
}

.counter input {
  width: 28px;
  text-align: center;
  color: #222328;
  font-size: 14px;
  font-weight: 700;
  height: 42px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  border: none;
  outline: none;
  background: transparent;
}

.count-minus {
  line-height: 40px;
}

.counter__title {
  opacity: 0.5;
  color: #222328;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 4px;
}

.field {
  border: 1px solid rgba(34, 35, 40, 0.2);
  width: 100%;
  height: 44px;
  outline: none;
  border-radius: 5px;
  text-indent: 20px;
  font-size: 16px;
}

.field:focus {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3), 0 4px 12px rgba(0, 0, 0, 0.2);
  border: none;
}

.ordering-window-content-field {
  display: inline-block;
  vertical-align: top;
  margin-right: 15px;
}

@media screen and (max-width: 767px) {
  .ordering-window-content-field {
    margin-bottom: 10px;
  }
}

.ordering-window-content-field-5 {
  width: 446px;
}

@media screen and (max-width: 1200px) {
  .ordering-window-content-field-5 {
    width: 395px;
  }
}

@media screen and (min-width: 768px) and (max-width: 990px) {
  .ordering-window-content-field-5 {
    width: 270px;
  }
}

@media screen and (max-width: 767px) {
  .ordering-window-content-field-5 {
    width: 100%;
  }
}

.ordering-window-content-field-4 {
  width: 284px;
}

@media screen and (max-width: 1200px) {
  .ordering-window-content-field-4 {
    width: 256px;
  }
}

@media screen and (min-width: 768px) and (max-width: 990px) {
  .ordering-window-content-field-4 {
    width: 200px;
  }
}

@media screen and (max-width: 767px) {
  .ordering-window-content-field-4 {
    width: 100%;
    display: block;
  }
}

.ordering-window-content-field-3 {
  width: 240px;
}

@media screen and (min-width: 768px) and (max-width: 990px) {
  .ordering-window-content-field-3 {
    width: 219px;
  }
}

@media screen and (max-width: 767px) {
  .ordering-window-content-field-3 {
    width: 100% !important;
    display: block;
  }
}

.ordering-window-content-field-1 {
  width: 80px;
}

.info {
  width: 24px;
  height: 24px;
  background: rgba(255, 255, 255, 0.3);
  text-align: center;
  line-height: 24px;
  display: inline-block;
  border-radius: 50%;
  margin-left: 20px;
  color: #fff;
}

@media screen and (max-width: 378px) {
  .info {
    display: block;
    margin: auto;
    margin-top: 10px;
  }
}

.info.active {
  background: #00adee;
}

.enjoy-radio {
  display: none;
  position: relative;
}

.enjoy-radio ~ label {
  font-weight: 900;
  position: relative;
  padding-left: 40px;
}

.enjoy-radio ~ label:before {
  content: '';
  position: absolute;
  width: 21px;
  height: 21px;
  border: 1px solid rgba(34, 35, 40, 0.2);
  border-radius: 50%;
  left: 0;
  top: 0;
}

.enjoy-radio:checked ~ label:before {
  content: '';
  background: #00adee;
  border: none;
}

/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
       ========================================================================== */
/**
     * 1. Correct the line height in all browsers.
     * 2. Prevent adjustments of font size after orientation changes in
     *    IE on Windows Phone and in iOS.
     */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
       ========================================================================== */
/**
     * Remove the margin in all browsers (opinionated).
     */
body {
  margin: 0;
}

/**
     * Add the correct display in IE 9-.
     */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
     * Correct the font size and margin on `h1` elements within `section` and
     * `article` contexts in Chrome, Firefox, and Safari.
     */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
figcaption,
figure {
  display: block;
}

/**
     * Add the correct margin in IE 8.
     */
figure {
  margin: 1em 40px;
}

/**
     * 1. Add the correct box sizing in Firefox.
     * 2. Show the overflow in Edge and IE.
     */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
     * Add the correct display in IE.
     */
main {
  display: block;
}

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Links
       ========================================================================== */
/**
     * 1. Remove the gray background on active links in IE 10.
     * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
     */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/* Text-level semantics
       ========================================================================== */
/**
     * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
     * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
     */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
     * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
     */
b,
strong {
  font-weight: inherit;
}

/**
     * Add the correct font weight in Chrome, Edge, and Safari.
     */
b,
strong {
  font-weight: bolder;
}

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
     * Add the correct font style in Android 4.3-.
     */
dfn {
  font-style: italic;
}

/**
     * Add the correct background and color in IE 9-.
     */
mark {
  background-color: #ff0;
  color: #000;
}

/**
     * Add the correct font size in all browsers.
     */
small {
  font-size: 80%;
}

/**
     * Prevent `sub` and `sup` elements from affecting the line height in
     * all browsers.
     */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
audio,
video {
  display: inline-block;
}

/**
     * Add the correct display in iOS 4-7.
     */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
     * Remove the border on images inside links in IE 10-.
     */
img {
  border-style: none;
}

/**
     * Hide the overflow in IE.
     */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
       ========================================================================== */
/**
     * 1. Change the font styles in all browsers (opinionated).
     * 2. Remove the margin in Firefox and Safari.
     */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
     * Show the overflow in IE.
     */
button {
  overflow: visible;
}

/**
     * Remove the inheritance of text transform in Edge, Firefox, and IE.
     * 1. Remove the inheritance of text transform in Firefox.
     */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
     * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
     *    controls in Android 4.
     * 2. Correct the inability to style clickable types in iOS and Safari.
     */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  /**
       * Remove the inner border and padding in Firefox.
       */
  /**
       * Restore the focus styles unset by the previous rule.
       */
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
     * Show the overflow in Edge.
     */
input {
  overflow: visible;
}

/**
     * 1. Add the correct box sizing in IE 10-.
     * 2. Remove the padding in IE 10-.
     */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
     * Correct the cursor style of increment and decrement buttons in Chrome.
     */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
     * 1. Correct the odd appearance in Chrome and Safari.
     * 2. Correct the outline style in Safari.
     */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
       * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
       */
}

[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
     * 1. Correct the inability to style clickable types in iOS and Safari.
     * 2. Change font properties to `inherit` in Safari.
     */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
     * Correct the padding in Firefox.
     */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
     * 1. Correct the text wrapping in Edge and IE.
     * 2. Correct the color inheritance from `fieldset` elements in IE.
     * 3. Remove the padding so developers are not caught out when they zero out
     *    `fieldset` elements in all browsers.
     */
legend {
  box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */
}

/**
     * 1. Add the correct display in IE 9-.
     * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
     */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
     * Remove the default vertical scrollbar in IE.
     */
textarea {
  overflow: auto;
}

/* Interactive
       ========================================================================== */
/*
     * Add the correct display in Edge, IE, and Firefox.
     */
details {
  display: block;
}

/*
     * Add the correct display in all browsers.
     */
summary {
  display: list-item;
}

/*
     * Add the correct display in IE 9-.
     */
menu {
  display: block;
}

/* Scripting
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
canvas {
  display: inline-block;
}

/**
     * Add the correct display in IE.
     */
template {
  display: none;
}

/* Hidden
       ========================================================================== */
/**
     * Add the correct display in IE 10-.
     */
[hidden] {
  display: none;
}

header {
  text-align: center;
  overflow: hidden;
  padding-top: 13px;
  padding-bottom: 15px;
}

.header-back-btn {
  font-size: 14px;
  border-radius: 5px;
  color: #fff;
  float: left;
  margin-top: 8px;
  padding: 0;
  box-shadow: none;
  width: 242px;
}

.header-back-btn .fa {
  padding: 13px 11px 13px 20px;
}

@media screen and (max-width: 990px) {
  .header-back-btn .fa {
    padding: 13px 20px;
  }
}

.header-back-btn span {
  display: inline-block;
  padding: 10px 20px 12px 0;
}

@media screen and (max-width: 990px) {
  .header-back-btn {
    width: auto;
  }
}

@media screen and (max-width: 990px) {
  .header-back-btn__content {
    display: none !important;
  }
}

.header-cart {
  display: inline-block;
  width: 40px;
  height: 40px;
  position: relative;
  vertical-align: middle;
  border-radius: 20px;
  background: #fff url("../img/cart.svg") center no-repeat;
}

@media screen and (max-width: 990px) {
  .header-cart {
    float: right;
    margin-right: 10px;
  }
}

.header-cart__number {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #00adee;
  border-radius: 10px;
  text-align: center;
  line-height: 20px;
  color: #fff;
  font-weight: 700;
  top: 40;
  right: -10px;
}

.header__phone {
  float: right;
  color: #fff;
  font-family: "PT Sans";
  font-size: 30px;
  font-weight: 700;
  margin-top: 8px;
}

@media screen and (max-width: 990px) {
  .header__phone {
    display: none;
  }
}

.header-phone__label {
  float: right;
  text-align: right;
  margin-top: 45px;
  margin-right: -122px;
  font-size: 14px;
  color: #fff;
}

@media screen and (max-width: 990px) {
  .header-phone__label {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .cart-footer .footer-content {
    width: 1061px;
  }
}

footer {
  margin-bottom: 43px;
}

@media screen and (max-width: 767px) {
  footer {
    display: none;
  }
}

.footer-content {
  width: 990px;
  margin: 0 auto;
  overflow: hidden;
  color: #fff;
}

@media screen and (max-width: 1200px) {
  .footer-content {
    width: 975px;
  }
}

@media screen and (max-width: 1040px) {
  .footer-content {
    width: 972px;
  }
}

@media screen and (max-width: 990px) {
  .footer-content {
    width: 100% !important;
    text-align: center;
  }
}

.footer-left {
  float: left;
  width: 525px;
}

@media screen and (max-width: 990px) {
  .footer-left {
    width: 100%;
    float: none;
    margin-bottom: 30px;
  }
}

.footer-right {
  float: right;
  padding-right: 5px;
}

@media screen and (max-width: 990px) {
  .footer-right {
    float: none;
  }
}

.footer-left__title, .footer-left-info-data, .footer-left-info__title, .footer-left-info__date {
  display: inline-block;
  vertical-align: top;
}

.footer-left-info__date {
  text-align: right;
  float: right;
  margin-left: 50px;
}

.footer-left__title {
  font-size: 18px;
  font-weight: 700;
  padding-right: 18px;
}

.footer-left-info {
  margin-bottom: 10px;
  position: relative;
}

.footer__promo {
  color: #fff;
  padding-bottom: 4px;
  border-bottom: 2px solid #00adee;
  font-weight: 700;
  margin-right: 20px;
}

.footer-content-right {
  float: right;
  padding-top: 11px;
  box-sizing: border-box;
  padding-bottom: 18px;
  margin-right: 10px;
}

.footer-content-right a:first-child {
  margin-right: 14px;
}

@media screen and (max-width: 990px) {
  .footer-content-right {
    float: none;
    padding-top: 20px;
    margin-right: 0;
  }
}

.footer-content-left {
  color: #222328;
  float: left;
  padding-top: 22px;
  box-sizing: border-box;
  margin-left: 12px;
}

.footer-content-left b {
  padding-right: 20px;
}

.footer-content-left .info {
  color: #222328;
  background: rgba(34, 35, 40, 0.1);
}

@media screen and (max-width: 990px) {
  .footer-content-left {
    float: none;
    border-bottom: 1px solid rgba(34, 35, 40, 0.2);
    padding-bottom: 20px;
    margin-left: 0;
  }
}

.fixed-footer {
  margin-bottom: 80px;
}

@media screen and (min-width: 768px) and (max-width: 990px) {
  .fixed-footer {
    margin-bottom: 170px;
  }
}

@media screen and (max-width: 767px) {
  .fixed-footer {
    margin-bottom: 167px;
  }
}

@media screen and (max-width: 378px) {
  .fixed-footer {
    margin-bottom: 253px;
  }
}

footer.fixed {
  position: fixed;
  width: 100%;
  height: 70px;
  background: #fff;
  box-shadow: 0 -10px 14px rgba(0, 0, 0, 0.5);
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 0;
  overflow: hidden;
  z-index: 2;
}

@media screen and (max-width: 990px) {
  footer.fixed {
    height: 152px;
    text-align: center;
  }
}

@media screen and (max-width: 354px) {
  .fixed.footer_mobile {
    height: 191px;
  }
}

@media screen and (max-width: 378px) {
  .fixed.cart-fixed-footer {
    height: 225px;
  }
}

@media screen and (max-width: 990px) {
  .fixed.cart-fixed-footer {
    display: block;
  }
}

.footer_mobile {
  display: none;
}

.footer_mobile .footer__promo {
  color: #222328;
}

@media screen and (max-width: 767px) {
  .footer_mobile {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .mobile-footer {
    margin-bottom: 197px;
  }
}

.home-delivery {
  padding-bottom: 20px;
  padding-top: 23px;
}

.home-delivery-city {
  width: 307px;
}

@media screen and (max-width: 1200px) {
  .home-delivery-city {
    width: 254px;
  }
}

@media screen and (min-width: 768px) and (max-width: 990px) {
  .home-delivery-city {
    width: 300px !important;
  }
}

@media screen and (max-width: 767px) {
  .home-delivery-city {
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 990px) {
  .home-delivery .ordering-window-content-field-4 {
    width: 289px;
    margin-bottom: 21px;
  }
}

.delivery-info {
  padding-top: 20px;
}

.delivery-info-types {
  padding-top: 20px;
  text-align: center;
}

@media screen and (min-width: 768px) and (max-width: 990px) {
  .delivery-info-types {
    display: block;
    width: 350px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}

.title {
  font-size: 24px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .title {
    margin-bottom: 10px;
  }
}

.delivery-info-type {
  display: inline-block;
  vertical-align: top;
  text-align: left;
}

@media screen and (max-width: 1200px) {
  .delivery-info-type {
    width: 307px;
  }
}

@media screen and (max-width: 990px) {
  .delivery-info-type {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }
}

.delivery-info-type-info {
  margin-left: 40px;
  font-size: 14px;
  margin-top: 9px;
}

.delivery-info-type-info span {
  display: inline-block;
  margin-right: 20px;
}

.delivery-pay {
  padding-top: 20px;
}

@media screen and (max-width: 1200px) {
  .delivery-pay {
    padding-bottom: 20px;
  }
}

.delivery-pay-variants {
  text-align: center;
  padding-top: 20px;
}

@media screen and (max-width: 767px) {
  .delivery-pay-variants {
    display: none;
  }
}

.delivery-pay-variants_mobile {
  display: none;
}

@media screen and (max-width: 767px) {
  .delivery-pay-variants_mobile {
    display: block;
  }
}

.delivery-pay-variant {
  display: inline-block;
  vertical-align: top;
  margin: 0 25px;
}

@media screen and (min-width: 768px) and (max-width: 990px) {
  .delivery-pay-variant {
    margin: 0 23px;
  }
}

.ordering-window {
  width: 1050px;
  margin: 0 auto;
  box-shadow: 0 29px 40px rgba(0, 0, 0, 0.62);
  margin-bottom: 35px;
}

@media screen and (max-width: 1200px) {
  .ordering-window {
    width: 970px;
  }
}

@media screen and (max-width: 990px) {
  .ordering-window {
    width: 100%;
    max-width: 768px;
  }
}

.ordering-window__header {
  height: 60px;
  background: #dee0e7;
  border-radius: 10px 10px 0 0;
  text-align: center;
  color: #1a1a1e;
  font-size: 24px;
  padding-top: 15px;
  box-sizing: border-box;
}

.ordering-window-content {
  min-height: 500px;
  background: #fff;
  border-radius: 0 0 10px 10px;
  padding: 10px 20px;
}

@media screen and (max-width: 1200px) {
  .ordering-window-content {
    height: auto;
  }
}

.ordering-window-content__name {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 7px;
}

.ordering-window-content__info {
  opacity: 0.5;
  font-size: 14px;
  font-weight: 400;
  padding-top: 7px;
}

.cart-card {
  width: 970px;
  height: 480px;
  border-radius: 10px;
  background-color: #fff;
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
}

@media screen and (max-width: 990px) {
  .cart-card {
    height: auto;
    width: 100%;
    max-width: 768px;
  }
}

.cart-card.active {
  box-shadow: 0 29px 40px rgba(0, 0, 0, 0.62);
  position: relative;
  z-index: 1;
}

.cart-card-top {
  overflow: hidden;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) and (max-width: 990px) {
  .cart-card-top {
    overflow: visible;
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .cart-card-top {
    margin-bottom: 20px;
    text-align: center;
    overflow: visible;
  }
}

.cart-card-top h2 {
  font-size: 36px;
  font-weight: 700;
  display: inline-block;
  max-width: 510px;
  overflow: hidden;
  vertical-align: middle;
}

@media screen and (min-width: 768px) and (max-width: 990px) {
  .cart-card-top h2 {
    display: block;
    width: 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .cart-card-top h2 {
    text-align: center;
    max-width: 1000%;
    font-size: 26px;
  }
}

.cart-card-top-ui {
  display: inline-block;
  vertical-align: middle;
  margin-top: 14px;
  float: right;
  width: 380px;
}

@media screen and (max-width: 990px) {
  .cart-card-top-ui {
    display: block;
    float: none;
    width: 100%;
  }
}

@media screen and (max-width: 387px) {
  .cart-card-top-ui {
    text-align: center;
  }
}

.cart-card-top-ui a {
  font-size: 14px;
  color: #00adee;
  position: relative;
  padding-left: 46px;
  margin-right: 23px;
}

@media screen and (max-width: 767px) {
  .cart-card-top-ui a:last-child {
    margin-left: 0;
    padding: 0;
    width: 36px;
    height: 36px;
    display: inline-block;
    vertical-align: top;
    margin-top: 4px;
  }
}

@media screen and (max-width: 387px) {
  .cart-card-top-ui a:last-child {
    margin-top: 0;
    margin-left: 10px;
  }
}

@media screen and (max-width: 767px) {
  .cart-card-top-ui a {
    font-size: 12px;
    padding-left: 41px;
    margin-right: 16px;
  }
}

@media screen and (max-width: 387px) {
  .cart-card-top-ui a {
    padding: 0;
    margin-left: 10px;
    font-size: 0px;
    display: inline-block;
    vertical-align: top;
    width: 36px;
    height: 36px;
  }
}

.cart-card-top-ui a:before {
  content: '';
  position: absolute;
  width: 36px;
  height: 36px;
  top: -10px;
  left: 0;
  background-size: 100%;
  color: #00adee;
}

@media screen and (max-width: 387px) {
  .cart-card-top-ui a:before {
    top: 0;
  }
}

.cart-card-body {
  position: relative;
}

@media screen and (max-width: 767px) {
  .cart-card-body {
    margin-bottom: 30px;
  }
}

.cart-card-body-right, .cart-card-body-left {
  display: inline-block;
  vertical-align: top;
}

@media screen and (min-width: 768px) and (max-width: 990px) {
  .cart-card-body-left {
    display: block;
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .cart-card-body-left {
    display: block;
    width: 100%;
  }
}

@media screen and (max-width: 990px) {
  .cart-card-body-left img {
    width: 100%;
  }
}

.cart-card-body-right {
  margin-left: 45px;
  width: 440px;
}

@media screen and (max-width: 990px) {
  .cart-card-body-right {
    margin-top: 7px;
  }
}

@media screen and (max-width: 767px) {
  .cart-card-body-right {
    margin-left: 0;
    width: 100%;
  }
}

.cart-card-body-left-slider {
  position: relative;
}

.cart-card-body-left-slider span {
  position: absolute;
  color: #fff;
  font-size: 30px;
  top: 155px;
}

@media screen and (max-width: 990px) {
  .cart-card-body-left-slider span {
    top: 50%;
  }
}

.cart-card-body-left-slider-nav__next {
  right: 20px;
}

.cart-card-body-left-slider-nav__next:before {
  content: '';
  text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

.cart-card-body-left-slider-nav__prev {
  left: 20px;
}

.cart-card-body-left-slider-nav__prev:before {
  content: '';
  text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

.cart-card-body-right-change {
  margin-top: 32px;
}

.cart-card-body-right-price-item {
  display: inline-block;
  vertical-align: bottom;
  margin-right: 2px;
}

.cart-card-body-right-price-item p {
  font-size: 24px;
  font-weight: 700;
  color: #139ce9;
}

.cart-card-body-right-price-item span {
  font-size: 14px;
}

.cart-card-body-right-count {
  margin-right: 10px;
}

.cart-card-body-right-count, .cart-card-body-right-color {
  display: inline-block;
  vertical-align: top;
}

@media screen and (max-width: 767px) {
  .cart-card-body-right-color .counter__title {
    padding-bottom: 15px;
  }
}

@media screen and (max-width: 380px) {
  .cart-card-body-right-color .counter__title {
    padding-top: 15px;
  }
}

.cart-card-right-description {
  width: 440px;
  font-size: 14px;
  line-height: 24px;
  padding-top: 20px;
}

@media screen and (max-width: 767px) {
  .cart-card-right-description {
    width: 100%;
    font-size: 12px;
  }
}

.cart-card-right-packaging-item {
  display: inline-block;
  position: relative;
  margin-right: -1px;
}

.cart-card-right-packaging-item:last-child {
  margin-right: 0;
}

.cart-card-right-packaging-item .count {
  position: absolute;
  font-size: 14px;
  color: #fff;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3), 0 2px 4px rgba(0, 0, 0, 0.3);
  background: #00adee;
  text-align: center;
  line-height: 25px;
  top: 12px;
  right: 12px;
}

.cart-card-right-packaging-item .cart-card-right-packaging-item__img {
  overflow: hidden;
  border-radius: 5px;
  font-size: 0;
  overflow: hidden;
  border: 2px solid transparent;
}

.cart-card-right-packaging-item.active .cart-card-right-packaging-item__img {
  border: 2px solid #00adee;
  border-radius: 5px;
  font-size: 0;
}

.cart-card-right-packaging-items {
  margin-top: 10px;
}

@media screen and (max-width: 767px) {
  .cart-card-right-packaging-items {
    text-align: center;
  }
}

.cart-card-right-packaging-item__name {
  color: #1a1a1e;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 2px;
}

.cart-card-right-packaging-item__price {
  color: #139ce9;
  font-size: 14px;
  font-weight: 700;
}

@media screen and (max-width: 767px) {
  .mobile-normal-view {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .mobile-normal-view.active {
    display: block;
  }
}

.mobile-normal-view-btn {
  width: 100%;
  background: #f7f7f7;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  height: 30px;
  line-height: 30px;
  color: #00adee;
  font-size: 12px;
  font-weight: 700;
  border-radius: 0 0 10px 10px;
  display: none;
}

@media screen and (max-width: 767px) {
  .mobile-normal-view-btn.disable {
    display: block;
  }
}

.popup-wrapper {
  padding-bottom: 0;
  overflow: hidden;
  height: 100%;
}

.popup {
  position: absolute;
  background: rgba(34, 35, 40, 0.6);
  width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
  overflow: hidden;
  display: none;
  min-width: 320px;
  padding: 0 10px;
  box-sizing: border-box;
}

.popup-content {
  width: 970px;
  box-shadow: 0 29px 40px rgba(0, 0, 0, 0.62);
  border-radius: 10px;
  background-color: #fff;
  margin: 10% auto;
  padding: 20px;
  position: relative;
  box-sizing: border-box;
}

@media screen and (max-width: 990px) {
  .popup-content {
    width: 100%;
    height: auto;
  }
}

.popup-content-left {
  text-align: center;
  display: inline-block;
  width: 460px;
  vertical-align: top;
}

@media screen and (max-width: 990px) {
  .popup-content-left {
    display: block;
    width: 100%;
    width-margin-top: 20px;
  }
}

.popup-content-left__img {
  width: 457px;
}

.popup-content-left__img img {
  width: 100%;
}

@media screen and (max-width: 990px) {
  .popup-content-left__img {
    width: 100%;
  }
}

@media screen and (max-width: 990px) {
  .popup-content-left-prews {
    margin-top: -100px;
    margin-bottom: 38px;
  }
}

@media screen and (max-width: 990px) {
  .popup-content-right .popup-content-right__title {
    display: none;
  }
}

.popup-content-left-prev {
  display: inline-block;
  width: 60px;
  font-size: 0;
  overflow: hidden;
  margin: 10px 5px 0;
}

.popup-content-left-prev img {
  width: 100%;
}

.popup-content-left-prev .active {
  border: 2px solid #00adee;
  display: inline-block;
}

.popup-content-right {
  display: inline-block;
  vertical-align: top;
  margin-left: 25px;
}

@media screen and (max-width: 990px) {
  .popup-content-right {
    text-align: center;
    width: 100%;
    margin: 0;
  }
}

.popup-content-right__title h3 {
  font-size: 28px;
  color: #1a1a1e;
}

.mobile_title {
  display: none;
  margin-bottom: 14px;
}

@media screen and (max-width: 990px) {
  .mobile_title {
    display: block;
  }
}

.popup-content-right__price {
  color: #139ce9;
  font-size: 30px;
  font-weight: 700;
  padding-top: 10px;
  padding-bottom: 20px;
}

@media screen and (max-width: 990px) {
  .popup-content-right__price {
    display: inline-block;
    vertical-align: middle;
    float: left;
    clear: both;
  }
}

@media screen and (max-width: 990px) {
  .popup-content-right-counter {
    float: right;
    margin-top: 6px;
  }
}

@media screen and (max-width: 990px) {
  .popup-content-right-counter .counter__title {
    display: none;
  }
}

.popup-content-right__content {
  width: 440px;
  line-height: 32px;
  font-size: 18px;
  padding-top: 18px;
}

@media screen and (max-width: 990px) {
  .popup-content-right__content {
    font-size: 14px;
    line-height: 24px;
    padding-top: 0;
    text-align: left;
    clear: both;
    margin-bottom: 10px;
    width: 100%;
  }
}

.popup-btn {
  position: absolute;
  bottom: 26px;
  right: 20px;
}

.popup-content-right__close {
  position: absolute;
  width: 10px;
  height: 10px;
  right: 24px;
  top: 19px;
}

.popup-content-right__close a {
  color: #cecece;
}

@media screen and (max-width: 990px) {
  .popup-content-right__close {
    top: 28px;
  }
}

.popup-nav-element {
  position: absolute;
  top: 200px;
  width: 60px;
  height: 60px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  background-color: #00adee;
  border-radius: 50%;
  text-align: center;
  line-height: 60px;
  color: #fff;
}

@media screen and (max-width: 990px) {
  .popup-nav-element {
    top: 28%;
  }
}

.popup-nav__prev {
  left: -72px;
}

@media screen and (max-width: 1123px) {
  .popup-nav__prev {
    left: 0;
  }
}

.popup-nav__next {
  right: -72px;
}

@media screen and (max-width: 1123px) {
  .popup-nav__next {
    right: 0;
  }
}

.popup-arrows:before {
  content: '';
  width: 10px;
  height: 14px;
  position: absolute;
  top: 23px;
  left: 26px;
}

.popup__prev:before {
  content: '';
  background: #fff;
  -webkit-mask-image: url("../img/arrow-left.svg");
  -o-mask-image: url("../img/arrow-left.svg");
  -moz-mask-image: url("../img/arrow-left.svg");
  mask-image: url("../img/arrow-left.svg");
}

.popup__next:before {
  content: '';
  background: #fff;
  -webkit-mask-image: url("../img/arrow-right.svg");
  -o-mask-image: url("../img/arrow-right.svg");
  -moz-mask-image: url("../img/arrow-right.svg");
  mask-image: url("../img/arrow-right.svg");
}

.popup.active {
  display: block;
}

.empty-wrapper {
  padding-bottom: 60px;
}

.empty-card {
  width: 970px;
  height: 600px;
  box-shadow: 0 29px 40px rgba(0, 0, 0, 0.62);
  border-radius: 10px;
  background-color: #fff;
  margin: 0 auto;
  text-align: center;
}

@media screen and (max-width: 990px) {
  .empty-card {
    width: 100%;
    height: auto;
    padding-bottom: 30px;
  }
}

.empty-card__title h3 {
  font-size: 36px;
  font-weight: 700;
  padding-top: 134px;
  padding-bottom: 20px;
}

.empty-card-content {
  width: 750px;
  margin: 0 auto;
  margin-bottom: 50px;
  line-height: 24px;
}

.empty-card-content a {
  color: #139ce9;
  font-weight: 700;
  text-decoration: underline;
}

@media screen and (max-width: 990px) {
  .empty-card-content {
    width: 100%;
  }
}

.empty-card__logo {
  display: inline-block;
  width: 101px;
  height: 69px;
  background: url(../img/book.svg) center;
  margin-bottom: 71px;
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

a {
  color: #000;
  text-decoration: none;
}

body {
  font-family: 'PT Sans', sans-serif;
  background: url("../img/background.jpg") center no-repeat;
  background-size: cover;
  color: #1a1a1e;
  background-attachment: fixed;
}

.wrapper {
  min-width: 320px;
}

@media screen and (max-width: 990px) {
  .wrapper {
    padding: 0 10px;
    box-sizing: border-box;
  }
}

.limmiter {
  width: 1180px;
  margin: 0 auto;
  position: relative;
}

@media screen and (max-width: 1200px) {
  .limmiter {
    width: 970px;
  }
}

@media screen and (max-width: 990px) {
  .limmiter {
    max-width: 768px;
    width: 100%;
  }
}

.logo {
  display: inline-block;
  vertical-align: middle;
  margin: 0 159px 0;
}

@media screen and (max-width: 1200px) {
  .logo {
    margin: 0 60px;
  }
}

@media screen and (max-width: 990px) {
  .logo {
    margin: 0 auto;
    margin-left: 30px;
  }
}

.row {
  border-bottom: 1px solid rgba(34, 35, 40, 0.2);
  padding-bottom: 13px;
}

.row .ordering-window-content-field:last-child {
  margin-right: 0;
}

.info-popup {
  width: 333px;
  height: 212px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background: #fff;
  padding: 20px;
  box-sizing: border-box;
  color: #1a1a1e;
  position: absolute;
  top: -230px;
  left: 135px;
  display: none;
}

@media screen and (max-width: 1200px) {
  .info-popup {
    left: 43px;
  }
}

@media screen and (min-width: 768px) and (max-width: 990px) {
  .info-popup {
    left: 191px;
  }
}

.info-popup:after {
  top: 100%;
  left: 90%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #fff;
  border-width: 12px 13.5px 0 13.5px;
  margin-left: -30px;
}

.info-popup .row {
  margin-bottom: 7px;
  padding-bottom: 10px;
}

.info-popup .row:last-child {
  border-bottom: none;
}

.info-popup span {
  color: #139ce9;
  font-weight: 700;
  padding-top: 7px;
  font-size: 14px;
  display: inline-block;
}

.info-popup.active {
  display: block;
}

.details {
  font-size: 14px;
  text-decoration: underline;
  color: #139ce9;
  float: right;
  margin-right: 40px;
}

@media screen and (max-width: 361px) {
  .details {
    float: none;
    display: block;
    text-align: center;
    margin-right: 0;
    margin-top: 10px;
  }
}

.dublicate:before {
  background-color: #00adee;
  -webkit-mask-image: url(../img/dublicate.svg);
  -o-mask-image: url(../img/dublicate.svg);
  -moz-mask-image: url(../img/dublicate.svg);
  mask-image: url(../img/dublicate.svg);
}

.edit:before {
  background-color: #00adee;
  -webkit-mask-image: url(../img/edit.svg);
  -o-mask-image: url(../img/edit.svg);
  -moz-mask-image: url(../img/edit.svg);
  mask-image: url(../img/edit.svg);
}

.del:before {
  background-color: #00adee;
  -webkit-mask-image: url(../img/delete.svg);
  -o-mask-image: url(../img/delete.svg);
  -moz-mask-image: url(../img/delete.svg);
  mask-image: url(../img/delete.svg);
}

@media screen and (max-width: 767px) {
  .book-cost {
    font-size: 24px !important;
  }
}

@media screen and (max-width: 767px) {
  .packet-cost {
    font-size: 18px;
  }
}

.book-cost {
  font-size: 36px !important;
}

.book-cost-plus {
  font-size: 24px;
  font-weight: 700;
  color: #139ce9;
  display: inline-block;
  vertical-align: top;
  margin-top: 13px;
  padding-left: 2px;
  padding-right: 2px;
}

@media screen and (max-width: 990px) {
  .btn.blue.popup-btn {
    position: relative;
    top: 0;
    right: 0;
  }
}
