.btn {
  display: inline-block;
  color: #fff;
  padding: 14px 0;
  text-align: center;
  width: 220px;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.blue {
  background: #00adee;
}

.yellow {
  background-color: #f6a623;
  box-shadow: 0 8px 12px rgba(245, 166, 35, 0.5);
}

.btn-empty {
  color: #00adee;
  border: 1px solid #00adee;
  padding: 13px 0;
  font-weight: 700;
  box-shadow: none;
}

@media screen and (max-width: 767px) {
  .btn-empty {
    width: auto;
    padding: 13px 8px;
  }
}

.btn-opacity-1 {
  background: rgba(255, 255, 255, 0.1);
}

.btn-opacity-2 {
  background: rgba(255, 255, 255, 0.2);
}

.btn-opacity-3 {
  background: rgba(255, 255, 255, 0.3);
}

.btn-opacity-4 {
  background: rgba(255, 255, 255, 0.4);
}

.btn-opacity-5 {
  background: rgba(255, 255, 255, 0.5);
}

.btn-opacity-6 {
  background: rgba(255, 255, 255, 0.6);
}

.btn-opacity-7 {
  background: rgba(255, 255, 255, 0.7);
}

.btn-opacity-8 {
  background: rgba(255, 255, 255, 0.8);
}

.btn-opacity-9 {
  background: rgba(255, 255, 255, 0.9);
}

.color-picker {
  display: inline-block;
}

.color-picker span {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 9px;
  vertical-align: middle;
  position: relative;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .color-picker span {
    width: 14px;
    height: 14px;
  }
}

.color-picker span:last-child {
  margin: 0;
}

.color-picker .active {
  width: 40px;
  height: 40px;
}

@media screen and (max-width: 768px) {
  .color-picker .active {
    width: 14px;
    height: 14px;
    border: 1px solid;
    box-shadow: inset 0px 0px 0px 1px #fff;
  }
}

.color-picker .active:before {
  content: '';
  width: 14px;
  height: 11px;
  background: url("../img/active.svg") center no-repeat;
  position: absolute;
  top: 15px;
  left: 13px;
}

@media screen and (max-width: 768px) {
  .color-picker .active:before {
    content: '';
    background: none;
  }
}

.color_orange {
  background: #f6a623;
  border-color: #f6a623 !important;
}

.color_violet {
  background: #9012fe;
  border-color: #9012fe !important;
}

.color_yellow {
  background: #f8e81c;
  border-color: #f8e81c !important;
}

.color_black {
  background: #4a4a4a;
  border-color: #4a4a4a !important;
}

.color_blue {
  background: #4990e2;
  border-color: #4990e2 !important;
}

.color_turquoise {
  background: #50e3c2;
  border-color: #50e3c2 !important;
}

.color_pink {
  background: #ec0e72;
  border-color: #ec0e72 !important;
}

.color_green {
  background: #7ed321;
  border-color: #7ed321 !important;
}

.counter {
  width: 108px;
  height: 42px;
  border-radius: 5px;
  border: 2px solid #eff0f4;
  text-align: center;
}

.counter span {
  font-weight: 700;
  font-size: 20px;
  color: #222328;
  padding: 0 14px;
  display: inline-block;
  line-height: 42px;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
}

.counter input {
  width: 28px;
  text-align: center;
  color: #222328;
  font-size: 14px;
  font-weight: 700;
  height: 42px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  border: none;
  outline: none;
  background: transparent;
}

.count-minus {
  line-height: 40px;
}

.counter__title {
  opacity: 0.5;
  color: #222328;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 4px;
}

.field {
  border: 1px solid rgba(34, 35, 40, 0.2);
  width: 100%;
  height: 44px;
  outline: none;
  border-radius: 5px;
  text-indent: 20px;
  font-size: 16px;
}

.field:focus {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3), 0 4px 12px rgba(0, 0, 0, 0.2);
}

.ordering-window-content-field {
  display: inline-block;
  vertical-align: top;
  margin-right: 15px;
}

@media screen and (max-width: 767px) {
  .ordering-window-content-field {
    margin-bottom: 10px;
  }
}

.ordering-window-content-field-5 {
  width: 446px;
}

@media screen and (max-width: 1200px) {
  .ordering-window-content-field-5 {
    width: 395px;
  }
}

@media screen and (min-width: 768px) and (max-width: 990px) {
  .ordering-window-content-field-5 {
    width: 270px;
  }
}

@media screen and (max-width: 767px) {
  .ordering-window-content-field-5 {
    width: 100%;
  }
}

.ordering-window-content-field-4 {
  width: 284px;
}

@media screen and (max-width: 1200px) {
  .ordering-window-content-field-4 {
    width: 256px;
  }
}

@media screen and (min-width: 768px) and (max-width: 990px) {
  .ordering-window-content-field-4 {
    width: 200px;
  }
}

@media screen and (max-width: 767px) {
  .ordering-window-content-field-4 {
    width: 100%;
    display: block;
  }
}

.ordering-window-content-field-3 {
  width: 240px;
}

@media screen and (min-width: 768px) and (max-width: 990px) {
  .ordering-window-content-field-3 {
    width: 219px;
  }
}

@media screen and (max-width: 767px) {
  .ordering-window-content-field-3 {
    width: 100% !important;
    display: block;
  }
}

.ordering-window-content-field-1 {
  width: 80px;
}

.info {
  width: 24px;
  height: 24px;
  background: rgba(255, 255, 255, 0.3);
  text-align: center;
  line-height: 24px;
  display: inline-block;
  border-radius: 50%;
  margin-left: 20px;
  color: #fff;
}

@media screen and (max-width: 378px) {
  .info {
    display: block;
    margin: auto;
    margin-top: 10px;
  }
}

.info.active {
  background: #00adee;
}

.enjoy-radio {
  display: none;
  position: relative;
}

.enjoy-radio ~ label {
  font-weight: 900;
  position: relative;
  padding-left: 40px;
}

.enjoy-radio ~ label:before {
  content: '';
  position: absolute;
  width: 21px;
  height: 21px;
  border: 1px solid rgba(34, 35, 40, 0.2);
  border-radius: 50%;
  left: 0;
  top: 0;
}

.enjoy-radio:checked ~ label:before {
  content: '';
  background: #00adee;
  border: none;
}
