header
	text-align: center
	overflow: hidden
	padding-top: 13px
	padding-bottom: 15px
.header-back-btn
	font-size: 14px
	border-radius: 5px
	color: $white
	float: left
	margin-top: 8px
	padding: 0
	box-shadow: none
	width: 242px
	& .fa
		padding: 13px 11px 13px 20px
		@media screen and (max-width: 990px)
			padding: 13px 20px
	& span
		display: inline-block
		padding: 10px 20px 12px 0
	@media screen and (max-width: 990px)
		width: auto
.header-back-btn__content 
	@media screen and (max-width: 990px)
		display: none !important
.header-cart
	display: inline-block
	width: 40px
	height: 40px
	position: relative
	vertical-align: middle
	border-radius: 20px
	background: $white url('../img/cart.svg') center no-repeat
	@media screen and (max-width: 990px)
		float: right
		margin-right: 10px
.header-cart__number
	position: absolute
	width: 20px
	height: 20px
	background-color: $secondary-color
	border-radius: 10px
	text-align: center
	line-height: 20px
	color: $white
	font-weight: 700
	top: 40
	right: -10px
.header__phone
	float: right
	color: $white
	font-family: "PT Sans"
	font-size: 30px
	font-weight: 700
	margin-top: 8px
	@media screen and (max-width: 990px)
		display: none
.header-phone__label
	float: right
	text-align: right
	margin-top: 45px
	margin-right: -122px
	font-size: 14px
	color: $white
	@media screen and (max-width: 990px)
		display: none