.cart-card
	width: 970px
	height: 480px
	border-radius: 10px
	background-color: $white
	margin: 0 auto
	margin-bottom: 10px
	padding: 20px
	box-sizing: border-box
	position: relative
	@media screen and (max-width: 990px)
		height: auto
		width: 100%
		max-width: 768px
.cart-card.active
	box-shadow: 0 29px 40px rgba(0, 0, 0, 0.62)
	position: relative
	z-index: 1
.cart-card-top 
	overflow: hidden
	margin-bottom: 20px	
	@media screen and (min-width: 768px) and (max-width: 990px)
		overflow: visible
		text-align: center
	@media screen and (max-width: 767px)
		margin-bottom: 20px
		text-align: center
		overflow: visible
	& h2
		font-size: 36px
		font-weight: 700
		display: inline-block
		max-width: 510px
		overflow: hidden
		vertical-align: middle
		@media screen and (min-width: 768px) and (max-width: 990px)
			display: block
			width: 100%
			max-width: 100%
		@media screen and (max-width: 767px)
			text-align: center
			max-width: 1000%
			font-size: 26px
.cart-card-top-ui
	display: inline-block
	vertical-align: middle
	margin-top: 14px
	float: right
	width: 380px
	@media screen and (max-width: 990px)
		display: block
		float: none
		width: 100%
	@media screen and (max-width: 387px)
		text-align: center
	& a
		font-size: 14px
		color: $secondary-color
		position: relative
		padding-left: 46px
		margin-right: 23px
		&:last-child
			@media screen and (max-width: 767px)
				margin-left: 0
				padding: 0
				width: 36px
				height: 36px
				display: inline-block
				vertical-align: top
				margin-top: 4px
			@media screen and (max-width: 387px)
				margin-top: 0
				margin-left: 10px
		@media screen and (max-width: 767px)
			font-size: 12px
			padding-left: 41px
			margin-right: 16px
		@media screen and (max-width: 387px)
			padding: 0
			margin-left: 10px
			font-size: 0px
			display: inline-block
			vertical-align: top
			width: 36px
			height: 36px
		&:before
			content: ''
			position: absolute
			width: 36px
			height: 36px
			top: -10px
			left: 0
			background-size: 100%
			color: $secondary-color
			@media screen and (max-width: 387px)
				top: 0
.cart-card-body
	position: relative
	@media screen and (max-width: 767px)
		margin-bottom: 30px
.cart-card-body-right, .cart-card-body-left
	display: inline-block
	vertical-align: top
.cart-card-body-left
	@media screen and (min-width: 768px) and (max-width: 990px)
		display: block
		text-align: center
	@media screen and (max-width: 767px)
		display: block
		width: 100%
	& img
		@media screen and (max-width: 990px)
			width: 100%
.cart-card-body-right
	margin-left: 45px
	width: 440px
	@media screen and (max-width: 990px)
		margin-top: 7px
	@media screen and (max-width: 767px)
		margin-left: 0
		width: 100%
.cart-card-body-left-slider
	position: relative
	& span
		position: absolute
		color: $white
		font-size: 30px
		top: 155px
		@media screen and (max-width: 990px)
			top: 50%
.cart-card-body-left-slider-nav__next
	right: 20px
	&:before
		content: ''
		text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5)
.cart-card-body-left-slider-nav__prev
	left: 20px
	&:before
		content: ''
		text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5)
.cart-card-body-right-change
	margin-top: 32px
.cart-card-body-right-price-item
	display: inline-block
	vertical-align: bottom
	margin-right: 2px
	& p
		font-size: 24px
		font-weight: 700
		color: $primary-color
	& span
		font-size: 14px
.cart-card-body-right-count
	margin-right: 10px
.cart-card-body-right-count, .cart-card-body-right-color
	display: inline-block
	vertical-align: top
.cart-card-body-right-color .counter__title
	@media screen and (max-width: 767px)
		padding-bottom: 15px
	@media screen and (max-width: 380px)
		padding-top: 15px
.cart-card-right-description
	width: 440px
	font-size: 14px
	line-height: 24px
	padding-top: 20px
	@media screen and (max-width: 767px)
		width: 100%
		font-size: 12px
.cart-card-right-packaging-item
	display: inline-block
	position: relative
	margin-right: -1px
	&:last-child
		margin-right: 0
	& .count
		position: absolute
		font-size: 14px
		color: $white
		width: 24px
		height: 24px
		border-radius: 50%
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3), 0 2px 4px rgba(0, 0, 0, 0.3)
		background: $secondary-color
		text-align: center
		line-height: 25px
		top: 12px
		right: 12px
	& .cart-card-right-packaging-item__img
		overflow: hidden
		border-radius: 5px
		font-size: 0
		overflow: hidden
		border: 2px solid transparent
	&.active .cart-card-right-packaging-item__img
		border: 2px solid $secondary-color
		border-radius: 5px
		font-size: 0
.cart-card-right-packaging-items
	margin-top: 10px
	@media screen and (max-width: 767px)
			text-align: center
.cart-card-right-packaging-item__name
	color: $dark
	font-size: 18px
	font-weight: 700
	margin-bottom: 2px
.cart-card-right-packaging-item__price
	color: $primary-color
	font-size: 14px
	font-weight: 700