.mobile-normal-view
	@media screen and (max-width: 767px)
		display: none
.mobile-normal-view.active
	@media screen and (max-width: 767px)
		display: block
.mobile-normal-view-btn
	width: 100%
	background: #f7f7f7
	display: block
	position: absolute
	bottom: 0
	left: 0
	text-align: center
	height: 30px
	line-height: 30px
	color: #00adee
	font-size: 12px
	font-weight: 700
	border-radius: 0 0 10px 10px
	display: none
.mobile-normal-view-btn.disable
	@media screen and (max-width: 767px)
			display: block