.empty-wrapper
	padding-bottom: 60px
.empty-card
	width: 970px
	height: 600px
	box-shadow: 0 29px 40px rgba(0, 0, 0, 0.62)
	border-radius: 10px
	background-color: $white
	margin: 0 auto
	text-align: center
	@media screen and (max-width: 990px)	
		width: 100%
		height: auto
		padding-bottom: 30px
.empty-card__title
	& h3
		font-size: 36px
		font-weight: 700
		padding-top: 134px
		padding-bottom: 20px
.empty-card-content 
	width: 750px
	margin: 0 auto
	margin-bottom: 50px
	line-height: 24px
	& a
		color: $primary-color
		font-weight: 700
		text-decoration: underline
	@media screen and (max-width: 990px)	
		width: 100%
.empty-card__logo
	display: inline-block
	width: 101px
	height: 69px
	background: url(../img/book.svg) center
	margin-bottom: 71px