@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic-ext')
@import "ui-enjoy/ui-enjoy"
@import "normalize/normalize"
@import "header/header"
@import "footer/footer"
@import "footer/fixed-footer"
@import "footer/mobile-footer"
@import "ordering/delivery"
@import "ordering/ordering"
@import "cart/cart"
@import "cart/mobile-view"
@import "popup/popup"
@import "empty/empty"
*
	margin: 0
	padding: 0

html, body
	height: 100%
a
	color: #000
	text-decoration: none
body
	font-family: 'PT Sans', sans-serif
	background: url('../img/background.jpg') center no-repeat
	background-size: cover
	color: $dark
	background-attachment: fixed
.wrapper
	min-width: 320px
	@media screen and (max-width: 990px)
		padding: 0 10px
		box-sizing: border-box
.limmiter
	width: 1180px
	margin: 0 auto
	position: relative
	@media screen and (max-width: 1200px)
		width: 970px
	@media screen and (max-width: 990px)
		max-width: 768px
		width: 100%
.logo
	display: inline-block
	vertical-align: middle
	margin: 0 159px 0
	@media screen and (max-width: 1200px)
		margin: 0 60px
	@media screen and (max-width: 990px)
		margin: 0 auto
		margin-left: 30px
.row
	border-bottom: 1px solid rgba(34, 35, 40, 0.2)
	padding-bottom: 13px
	& .ordering-window-content-field
		&:last-child
			margin-right: 0
.info-popup
	width: 333px
	height: 212px
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2)
	border-radius: 5px
	background: $white
	padding: 20px
	box-sizing: border-box
	color: $dark
	position: absolute
	top: -230px
	left: 135px
	display: none
	@media screen and (max-width: 1200px)
		left: 43px
	@media screen and (min-width: 768px) and (max-width: 990px)
		left: 191px
	&:after
		top: 100%
		left: 90%
		border: solid transparent
		content: " "
		height: 0
		width: 0
		position: absolute
		pointer-events: none
		border-color: rgba(255, 255, 255, 0)
		border-top-color: $white
		border-width: 12px 13.5px 0 13.5px
		margin-left: -30px
	& .row
		margin-bottom: 7px
		padding-bottom: 10px
		&:last-child
			border-bottom: none
	& span
		color: $primary-color
		font-weight: 700
		padding-top: 7px
		font-size: 14px
		display: inline-block
.info-popup.active
	display: block
.details
	font-size: 14px
	text-decoration: underline
	color: $primary-color
	float: right
	margin-right: 40px
	@media screen and (max-width: 361px)
		float: none
		display: block
		text-align: center
		margin-right: 0
		margin-top: 10px
.dublicate:before
	background-color: $secondary-color
	-webkit-mask-image: url(../img/dublicate.svg)
	-o-mask-image: url(../img/dublicate.svg)
	-moz-mask-image: url(../img/dublicate.svg)
	mask-image: url(../img/dublicate.svg)
.edit:before
	background-color: $secondary-color
	-webkit-mask-image: url(../img/edit.svg)
	-o-mask-image: url(../img/edit.svg)
	-moz-mask-image: url(../img/edit.svg)
	mask-image: url(../img/edit.svg)
.del:before
	background-color: $secondary-color
	-webkit-mask-image: url(../img/delete.svg)
	-o-mask-image: url(../img/delete.svg)
	-moz-mask-image: url(../img/delete.svg)
	mask-image: url(../img/delete.svg)
.book-cost
	@media screen and (max-width: 767px)
		font-size: 24px !important
.packet-cost
	@media screen and (max-width: 767px)
		font-size: 18px
.book-cost
	font-size: 36px !important
.book-cost-plus
	font-size: 24px
	font-weight: 700
	color: #139ce9
	display: inline-block
	vertical-align: top
	margin-top: 13px
	padding-left: 2px
	padding-right: 2px
.btn.blue.popup-btn
	@media screen and (max-width: 990px)
		position: relative
		top: 0
		right: 0