.home-delivery
	padding-bottom: 20px
	padding-top: 23px
.home-delivery-city
	width: 307px
	@media screen and (max-width: 1200px)
		width: 254px
	@media screen and (min-width: 768px) and (max-width: 990px)
		width: 300px !important
	@media screen and (max-width: 767px)
		width: 100%
.home-delivery .ordering-window-content-field-4
	@media screen and (min-width: 768px) and (max-width: 990px)
		width: 289px
		margin-bottom: 21px
.delivery-info
	padding-top: 20px
.delivery-info-types
	padding-top: 20px
	text-align: center
	@media screen and (min-width: 768px) and (max-width: 990px)
		display: block
		width: 350px
		margin: 0 auto
		margin-bottom: 20px
.title
	font-size: 24px
	text-align: center
	@media screen and (max-width: 767px)
		margin-bottom: 10px
.delivery-info-type
	display: inline-block
	vertical-align: top
	text-align: left
	@media screen and (max-width: 1200px)
		width: 307px
	@media screen and (max-width: 990px)
		display: block
		width: 100%
		margin-bottom: 10px
.delivery-info-type-info
	margin-left: 40px
	font-size: 14px
	margin-top: 9px
	& span
		display: inline-block
		margin-right: 20px
.delivery-pay
	padding-top: 20px
	@media screen and (max-width: 1200px)
		padding-bottom: 20px	
.delivery-pay-variants
	text-align: center
	padding-top: 20px
	@media screen and (max-width: 767px)
		display: none

.delivery-pay-variants_mobile
	display: none
	@media screen and (max-width: 767px)
		display: block

.delivery-pay-variant
	display: inline-block
	vertical-align: top
	margin: 0 25px
	@media screen and (min-width: 768px) and (max-width: 990px)
		margin: 0 23px