.ordering-window
	width: 1050px
	margin: 0 auto
	box-shadow: 0 29px 40px rgba(0, 0, 0, 0.62)
	margin-bottom: 35px
	@media screen and (max-width: 1200px)
		width: 970px
	@media screen and (max-width: 990px)
		width: 100%
		max-width: 768px
.ordering-window__header
	height: 60px
	background: #dee0e7
	border-radius: 10px 10px 0 0
	text-align: center
	color: $dark
	font-size: 24px
	padding-top: 15px
	box-sizing: border-box
.ordering-window-content
	min-height: 500px
	background: $white
	border-radius: 0 0 10px 10px
	padding: 10px 20px 
	@media screen and (max-width: 1200px)
		height: auto
.ordering-window-content__name
	font-size: 14px
	font-weight: 700
	text-transform: uppercase
	padding-bottom: 7px
.ordering-window-content__info
	opacity: 0.5
	font-size: 14px
	font-weight: 400
	padding-top: 7px