doctype html
html lang="en"
	head
		meta charset="UTF-8"
		title Горизонтальная прокрутка
		link rel="stylesheet" href="./css/main.css"
		link rel="stylesheet" href="./css/font-awesome.css"
		meta name="viewport" content="width=device-width, initial-scale=1"
	body
		.wrapper.fixed-footer
			header
				.limmiter
					a class="btn btn-opacity-3 header-back-btn" href="#"
						span class="fa fa-angle-left" 
						span class="header-back-btn__content" Назад к просмотру корзины
					.logo
						img src="./img/logo.svg"
					a href="#" class="header-cart"
						span class="header-cart__number" 3
					a href="#" class="header__phone" 
						| 8 (800) 555-11-90
					span class="header-phone__label" Звонок бесплатный
			.cart-cards
				.cart-card.active
					.cart-card-top
						h2 Фотокнига (фиолетовая) 40 стр.
						.cart-card-top-ui
							a href="#" class="dublicate" Дублировать товар
							a href="#" class="edit" Редактировать
							a href="#" class="del"
					.cart-card-body
						.cart-card-body-left
							.cart-card-body-left-slider
								.cart-card-body-left-item
									img	src="img/slide-image.jpg" alt=""
								.cart-card-body-left-slider-nav
									span class="fa fa-angle-left cart-card-body-left-slider-nav__prev"
									span class="fa fa-angle-right cart-card-body-left-slider-nav__next"
						.cart-card-body-right
							.cart-card-body-right-price
								.cart-card-body-right-price-item
									p class="book-cost" 1 890 руб.
									span Стоимость фотокниги
								span class="book-cost-plus" +
								.cart-card-body-right-price-item
									p class="packet-cost"  3 000 руб.
									span Упаковка «Свежесть»
							.mobile-normal-view
								.cart-card-body-right-change
									.cart-card-body-right-count
										.counter__title Количество
										.counter
											span class="count-minus" -
											input type="text" name="count" value="2"
											span class="count-plus" +
									.cart-card-body-right-color
										.counter__title Цвет обложки
										.color-picker
											span class="color_orange"
											span class="color_violet"
											span class="color_yellow"
											span class="color_black"
											span class="color_blue active"
											span class="color_turquoise"
											span class="color_pink"
											span class="color_green"
								.cart-card-right-description
									| Подарите эту фотокнигу вместе с подарочной упаковкой. Дизайнерская упаковка от Enjoybook — это забота о наших клиентах.
								.cart-card-right-packaging-items
									.cart-card-right-packaging-item
										.cart-card-right-packaging-item__img
											a href="#"
												img src="img/cart-item-image1.jpg"
										.cart-card-right-packaging-item__name «Премиум» 
										.cart-card-right-packaging-item__price 250 рублей
									.cart-card-right-packaging-item.active
										.cart-card-right-packaging-item__img
											a href="#"
												img src="img/cart-item-image2.jpg"
												span class="count" 20
										.cart-card-right-packaging-item__name «Свежесть» 
										.cart-card-right-packaging-item__price 150 рублей
									.cart-card-right-packaging-item
										.cart-card-right-packaging-item__img
											a href="#"
												img src="img/cart-item-image3.jpg"
										.cart-card-right-packaging-item__name «Нежность» 
										.cart-card-right-packaging-item__price 150 рублей
					a href="#" class="mobile-normal-view-btn disable" Развернуть товар
				.cart-card
					.cart-card-top
						h2 Фотокнига (фиолетовая) 40 стр.
						.cart-card-top-ui
							a href="#" class="dublicate" Дублировать товар
							a href="#" class="edit" Редактировать
							a href="#" class="del"
					.cart-card-body
						.cart-card-body-left
							.cart-card-body-left-slider
								.cart-card-body-left-item
									img	src="img/slide-image.jpg" alt=""
								.cart-card-body-left-slider-nav
									span class="fa fa-angle-left cart-card-body-left-slider-nav__prev"
									span class="fa fa-angle-right cart-card-body-left-slider-nav__next"
						.cart-card-body-right
							.cart-card-body-right-price
								.cart-card-body-right-price-item
									p class="book-cost" 1 890 руб.
									span Стоимость фотокниги
								span class="book-cost-plus" +
								.cart-card-body-right-price-item
									p class="packet-cost"  3 000 руб.
									span Упаковка «Свежесть»
							.mobile-normal-view.active
								.cart-card-body-right-change
									.cart-card-body-right-count
										.counter__title Количество
										.counter
											span class="count-minus" -
											input type="text" name="count" value="2"
											span class="count-plus" +
									.cart-card-body-right-color
										.counter__title Цвет обложки
										.color-picker
											span class="color_orange"
											span class="color_violet"
											span class="color_yellow"
											span class="color_black"
											span class="color_blue active"
											span class="color_turquoise"
											span class="color_pink"
											span class="color_green"
								.cart-card-right-description
									| Подарите эту фотокнигу вместе с подарочной упаковкой. Дизайнерская упаковка от Enjoybook — это забота о наших клиентах.
								.cart-card-right-packaging-items
									.cart-card-right-packaging-item
										.cart-card-right-packaging-item__img
											a href="#"
												img src="img/cart-item-image1.jpg"
										.cart-card-right-packaging-item__name «Премиум» 
										.cart-card-right-packaging-item__price 250 рублей
									.cart-card-right-packaging-item.active
										.cart-card-right-packaging-item__img
											a href="#"
												img src="img/cart-item-image2.jpg"
												span class="count" 20
										.cart-card-right-packaging-item__name «Свежесть» 
										.cart-card-right-packaging-item__price 150 рублей
									.cart-card-right-packaging-item
										.cart-card-right-packaging-item__img
											a href="#"
												img src="img/cart-item-image3.jpg"
										.cart-card-right-packaging-item__name «Нежность» 
										.cart-card-right-packaging-item__price 150 рублей
					a href="#" class="mobile-normal-view-btn enable" Развернуть товар
			footer class="fixed cart-fixed-footer"
				.limmiter
					.footer-content
						.footer-content-left
							p
								b Фотокниг в корзине:
								span Фотокнига х 3 шт.
								a class="info" ?
						.footer-content-right
							a href="#" class="btn btn-empty" Добавить книгу
							a href="#" class="btn blue" Оформить за 51 670 руб.