doctype html
html lang="en"
	head
		meta charset="UTF-8"
		title Пустая корзина
		link rel="stylesheet" href="./css/main.css"
		link rel="stylesheet" href="./css/font-awesome.css"
		meta name="viewport" content="width=device-width, initial-scale=1"
	body
		.wrapper.empty-wrapper
			header
				.limmiter
					a class="btn btn-opacity-3 header-back-btn" href="#"
						span class="fa fa-angle-left" 
						span class="header-back-btn__content" Назад к просмотру корзины
					.logo
						img src="./img/logo.svg"
					a href="#" class="header-cart"
						span class="header-cart__number" 3
					a href="#" class="header__phone" 
						| 8 (800) 555-11-90
					span class="header-phone__label" Звонок бесплатный
			.empty-card
				.empty-card__title
					h3 Вы еще не добавляли фотокниги в корзину
				.empty-card-content 
					| Cвадебная или детская фотокнига, история любви или путешествие — Enjoybook прекрасно подойдет для любого повода! Создавайте историю из каждого события! 
					a href="#" Скорее создайте свою первую фотокнигу!
				.empty-card__logo
				br
				a href="#" class="btn blue" Создать фотокнигу