.fixed-footer
	margin-bottom: 80px
	@media screen and (min-width: 768px) and (max-width: 990px)
		margin-bottom: 170px
	@media screen and (max-width: 767px)
		margin-bottom: 167px
	@media screen and (max-width: 378px)
		margin-bottom: 253px

footer.fixed
	position: fixed
	width: 100%
	height: 70px
	background: $white
	box-shadow: 0 -10px 14px rgba(0, 0, 0, 0.5)
	bottom: 0
	left: 0
	right: 0
	margin-bottom: 0
	overflow: hidden
	z-index: 2
	@media screen and (max-width: 990px)
		height: 152px
		text-align: center
.fixed.footer_mobile
	@media screen and (max-width: 354px)
		height: 191px
.fixed.cart-fixed-footer
	@media screen and (max-width: 378px)
		height: 225px
	@media screen and (max-width: 990px)
		display: block