.cart-footer
	& .footer-content
		@media screen and (min-width: 1200px)
			width: 1061px
footer
	margin-bottom: 43px
	@media screen and (max-width: 767px)
		display: none
.footer-content
	width: 990px
	margin: 0 auto
	overflow: hidden
	color: $white
	@media screen and (max-width: 1200px)
		width: 975px
	@media screen and (max-width: 1040px)
		width: 972px
	@media screen and (max-width: 990px)
		width: 100% !important
		text-align: center
.footer-left
	float: left
	width: 525px
	@media screen and (max-width: 990px)
		width: 100%
		float: none
		margin-bottom: 30px
.footer-right
	float: right
	padding-right: 5px
	@media screen and (max-width: 990px)
		float: none
.footer-left__title, .footer-left-info-data, .footer-left-info__title, .footer-left-info__date
	display: inline-block
	vertical-align: top
.footer-left-info__date
	text-align: right
	float: right
	margin-left: 50px
.footer-left__title
	font-size: 18px
	font-weight: 700
	padding-right: 18px
.footer-left-info
	margin-bottom: 10px
	position: relative
.footer__promo
	color: $white
	padding-bottom: 4px
	border-bottom: 2px solid $secondary-color
	font-weight: 700
	margin-right: 20px
.footer-content-right
	float: right
	padding-top: 11px
	box-sizing: border-box
	padding-bottom: 18px
	margin-right: 10px
	& a:first-child
		margin-right: 14px
	@media screen and (max-width: 990px)
		float: none
		padding-top: 20px
		margin-right: 0
.footer-content-left
	color: $dark-blue
	float: left
	padding-top: 22px
	box-sizing: border-box
	margin-left: 12px
	& b
		padding-right: 20px
	& .info
		color: $dark-blue
		background: rgba(34, 35, 40, 0.1)
	@media screen and (max-width: 990px)
		float: none
		border-bottom: 1px solid rgba(34, 35, 40, 0.2)
		padding-bottom: 20px
		margin-left: 0